*{margin: 0; padding: 0}
body{
	height: 100%;
	width: 100%;
	/* overflow-x: hidden; */
	background-color: black;
	font-family: sans-serif;
}
.slide_wrapper{
	height: 100%;
	width: 100%;
	overflow:hidden;
}
.cacslide, .motslide{
	height: 100%;
	width: 100%;
}
.chuyenslide{
	list-style: none;	
	position: relative;
	text-align: center;
}

.chuyenslide ul {
    list-style: none;
    display: inline-block;
}
.cacslide{
	height: 100%;
	width: 100%;
}

.chuyenslide ul li {
    width: 20px;
    display: inline-block;
    border: 1px solid #bbb8b8;
    text-indent: -9999px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin:  0 8px;
    transition: 0.4s;
}

.chuyenslide ul li:hover{
    background: #bcbcf5;
}
.chuyenslide ul li.kichhoat{
	border: 2px solid  white;
	/*background: #bcbcf5;*/
}
.motslide {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.4s;
}
.motslide.active{
	opacity: 1;
}

.slide_wrapper .chuyenslide{
  z-index: 4;
  /* top: -80px; */
}




