/* code for card effect */
.card-container{
    background-image: linear-gradient(to left,#182848,#2c4b92);
    /* background-color: white!important; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .card-container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    cursor: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
  }
  .card .content{
    padding: 20px;
    text-align: center;
    transition: .5s;
  }
  .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,.05);
    pointer-events: none;
  }
  .card .content h3{
    font-size: 1.8em;
    color: white;
    z-index: 1;
  }
  .card .content p{
    font-size: 1em;
    color: white;
    font-weight: 300;
  }
  .card-container .card
  {
    opacity: 0;
    animation: cardAppear1 8s infinite;
    animation-delay: 16s;
  }
  @-webkit-keyframes cardAppear1{
    0% {
        left: -500px;
        opacity: 0;
    }
    20%{
        left: 0;
        opacity: 1;
    }
    75%{
        left: 0;
        opacity: 1;
    }
    100%{
        left: 500px;
        opacity: 0;
    }
  }
  .card-container .card:nth-child(2){
    animation-delay: 16.25s;
  }
  .card-container .card:nth-child(3){
    animation-delay: 16.25s;
  }
  .card-container .card:nth-child(4){
    animation-delay: 16.5s;
  }
  .card-container .card:nth-child(5){
    animation-delay: 16.75s;
  }
  .card-container .card:nth-child(6){
    animation-delay: 17s;
  }
@media (min-width: 992px) and (max-width: 1400px){

  .card-container .card{
    margin: 5px!important;
  }
}