/* code fOr effect 2 */
.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family:  sans-serif;
	background: #000;
}

.container2 p a {
	text-decoration: none;
	color: inherit;
	font-size: 60px;
}

.container2 p {
	position: absolute;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 1;
	background: linear-gradient(90deg, #000, #fff, #000);
	
	background-size: 95% 100%;
	background-repeat: no-repeat;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 8s linear infinite;
	animation-delay: 8s;
	opacity: 0;
}
.container2 p:nth-child(2){
	/* opacity: 0; */
	animation-delay: 12s;
	color: red;
}
@keyframes shine {
0% {
	background-position-x: -2000%;
	opacity: 1;
}
45% {
	background-position-x: 1000%;
	opacity: 1;
}
50% {
	background-position-x: 1000%;
	opacity: 0;
}
100% {
	background-position-x: 1000%;
	opacity: 0;
}
}