/* code for effect 1 */

.container{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
}
.container .text{
    text-transform: uppercase;
    display: block;
}
.text1{
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 0px;
    background: black;
    /* background: radial-gradient( at right, #0d1d31 0%, #0c0d13); */
    position: relative;
    animation: text 8s infinite;
    
}
.container .text.text2{
    color: #28a745;
    /* color: transparent; */
    font-size: 80px;
    font-weight: 700;
}
@-webkit-keyframes text{
    0%{
      color: black;
      margin-bottom: -80px;
  }
  10%{
      letter-spacing: 25px;
      margin-bottom: -80px;
  }
  30%{
      letter-spacing: 8px;
      margin-bottom: -80px;
  }
  38%{
    letter-spacing: 8px;
    margin-bottom: 0px;
  }
}
/* code for star night effect */
.stars {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
.star {
  --star-color: lightblue;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  animation-delay: 0s;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.86em;
  --top-offset: 19.92vh;
  --fall-duration: 8.145s;
  --fall-delay: 7.572s;
}
.star:nth-child(2) {
  --star-tail-length: 5.1em;
  --top-offset: 10.73vh;
  --fall-duration: 7.692s;
  --fall-delay: 3.346s;
}
.star:nth-child(3) {
  --star-tail-length: 6.72em;
  --top-offset: 56.24vh;
  --fall-duration: 9.964s;
  --fall-delay: 1.803s;
}.star:nth-child(4) {
  --star-tail-length: 6.28em;
  --top-offset: 17.58vh;
  --fall-duration: 7.118s;
  --fall-delay: 7.678s;
}.star:nth-child(5) {
  --star-tail-length: 5.42em;
  --top-offset: 48.25vh;
  --fall-duration: 11.782s;
  --fall-delay: 2.606s;
}
.star:nth-child(6) {
  --star-tail-length: 6.52em;
  --top-offset: 26.93vh;
  --fall-duration: 7.151s;
  --fall-delay: 6.53s;
}
.star:nth-child(7) {
  --star-tail-length: 6.6em;
  --top-offset: 71.7vh;
  --fall-duration: 9.823s;
  --fall-delay: 0.959s;
}
.star:nth-child(8) {
  --star-tail-length: 6.27em;
  --top-offset: 19.2vh;
  --fall-duration: 8.668s;
  --fall-delay: 0.183s;
}
.star:nth-child(9) {
  --star-tail-length: 6.99em;
  --top-offset: 24.72vh;
  --fall-duration: 10.179s;
  --fall-delay: 0.688s;
}
.star:nth-child(10) {
  --star-tail-length: 6.6em;
  --top-offset: 68.27vh;
  --fall-duration: 7.015s;
  --fall-delay: 8.727s;
}
.star:nth-child(11) {
  --star-tail-length: 5.29em;
  --top-offset: 54.65vh;
  --fall-duration: 6.403s;
  --fall-delay: 5.263s;
}
.star:nth-child(12) {
  --star-tail-length: 6.57em;
  --top-offset: 16.04vh;
  --fall-duration: 11.763s;
  --fall-delay: 3.944s;
}
.star:nth-child(13) {
  --star-tail-length: 5.59em;
  --top-offset: 33.64vh;
  --fall-duration: 11.713s;
  --fall-delay: 4.787s;
}
.star:nth-child(14) {
  --star-tail-length: 6.43em;
  --top-offset: 69.03vh;
  --fall-duration: 9s;
  --fall-delay: 8.525s;
}
.star:nth-child(15) {
  --star-tail-length: 7.35em;
  --top-offset: 28.41vh;
  --fall-duration: 6.508s;
  --fall-delay: 8.391s;
}
.star:nth-child(16) {
  --star-tail-length: 5.53em;
  --top-offset: 2.69vh;
  --fall-duration: 7.523s;
  --fall-delay: 2.09s;
}
.star:nth-child(17) {
  --star-tail-length: 6.83em;
  --top-offset: 77.26vh;
  --fall-duration: 9.84s;
  --fall-delay: 9.917s;
}
.star:nth-child(18) {
  --star-tail-length: 5.03em;
  --top-offset: 60.96vh;
  --fall-duration: 7.131s;
  --fall-delay: 0.968s;
}
.star:nth-child(19) {
  --star-tail-length: 6.9em;
  --top-offset: 34.51vh;
  --fall-duration: 6.612s;
  --fall-delay: 9.282s;
}
.star:nth-child(20) {
  --star-tail-length: 6.6em;
  --top-offset: 97.12vh;
  --fall-duration: 10.284s;
  --fall-delay: 2.073s;
}
.star:nth-child(21) {
  --star-tail-length: 5.41em;
  --top-offset: 72.24vh;
  --fall-duration: 11.122s;
  --fall-delay: 5.544s;
}
.star:nth-child(22) {
  --star-tail-length: 6.93em;
  --top-offset: 61.31vh;
  --fall-duration: 10.933s;
  --fall-delay: 5.333s;
}
.star:nth-child(23) {
  --star-tail-length: 5.34em;
  --top-offset: 41vh;
  --fall-duration: 9.266s;
  --fall-delay: 2.895s;
}
.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 1s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}