*{
    margin: 0;
    padding: 0;
}
.textwritter-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textwritter-container .line{
    position: relative;
    width: 20em;
    float: left;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}
.line.anim-typewriter.delay-3s{
    animation-delay: 3.5s;
}

.textwritter-container .anim-typewriter{
    animation: typewriter 3S steps(42) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
@-webkit-keyframes typewriter{
    from{ width: 0 }
    to {width: 26em;}
}
@-webkit-keyframes blinkTextCursor{
    from {
        border-right-color: rgba(255,255,255,.75);
    }
    to {
        border-right-color: transparent;
    }
}
